.zone-studies-courses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  padding: 1em;
  min-height: 100vh;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 2em 0;
    width: 90%;
  }

  .header .title {
    color: var(--text-color-bold);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .grid-studies {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card-studies {
  background-color: var(--theme-color);
  border-radius: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  transition: all 0.3s ease;

  &:hover {
    outline: 2px solid var(--color-black);
    transform: translateY(-5px);
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: .5rem;
  }
}

.dark .card-studies {
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.9);

  &:hover {
    outline-color: var(--color-white);
  }
}