.zone-projects {
  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 2em 0;
    width: 90%;
  }

  .header {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 2em;
    text-align: center;

    .title {
      color: var(--theme-color);
      font-size: 2rem;
      font-weight: bold;
      line-height: 1.2;
    }
  }

  .grid-projects {
    display: grid;
    gap: 2rem;
    padding: 1em;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.image-overlay {
  background-color: rgba(0, 0, 0, .3);
  inset: 0;
  position: absolute;
}

.project-card {
  background-color: var(--color-black-mute);
  border-radius: .5rem;
  outline: 4px solid var(--theme-color);
  overflow: hidden;
  transition: all .3s ease;

  @media (min-width: 768px) {
    max-width: 420px;
  }

  .project-image-container {
    position: relative;
    height: 14rem;
    overflow: hidden;
    border-bottom: 4px solid var(--theme-color);

    .project-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    .project-title {
      color: var(--color-white);
      font-size: 1.5rem;
      font-weight: bold;
      transition: color 0.3s ease;
    }

    .project-description {
      color: var(--color-white);
      font-size: 1rem;
      line-height: 1.75;
    }

    .project-technologies {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: space-evenly;

      .tech-badge {
        background-color: var(--color-white);
        border-radius: .5rem;
        border: 2px solid var(--theme-color);
        color: var(--color-black);
        font-size: 0.8rem;
        font-weight: bold;
        padding: .3rem .5rem;
      }
    }

    .project-button {
      align-items: center;
      align-self: flex-start;
      background-color: var(--theme-color);
      border-radius: .75em;
      color: var(--color-white);
      cursor: pointer;
      display: inline-flex;
      font-size: 1rem;
      font-weight: 600;
      gap: .5em;
      padding: 0.75em 1.5em;
      transition: all 0.3s ease;

      img {
        transition: all 0.3s ease;
      }

      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);

        img {
          background-color: var(--theme-color);
        }
      }
    }
  }

  &:hover {
    .project-title {
      color: var(--theme-color);
    }

    .project-image {
      transform: scale(1.1);
    }
  }
}