.zone-studies-courses {
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  min-height: 100vh;
  padding: 1em;

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 2.5em 5em;
  }

  .header h2 {
    color: var(--text-color-bold);
    font-size: 2em;
    font-weight: bold;
    margin-bottom: .5rem;
    text-align: center;
    text-transform: uppercase;
  }

  .grid-studies {
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card-studies {
  background-color: var(--theme-color);
  border-radius: var(--radius-md);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-2) var(--space-4);
  transition: all 0.3s ease;

  @media (min-width: 768px) {
    
  }

  &:hover {
    outline: .2em solid var(--color-black);
    transform: translateY(-5px);
  }

  h4 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: .5rem;
  }
}

.dark .card-studies {
  &:hover {
    outline: .2em solid var(--color-white);
  }
}