.zone-work-experience {
  background-color: var(--theme-color);
  outline: .2em solid var(--color-black);
  border-radius: var(--border-radius-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  min-height: 100vh;
  padding: var(--space-4);

  @media (min-width: 768px) {
    margin: 0 auto;
    padding: 2em;
  }

  .header h2 {
    font-size: 2rem;
    color: var(--color-white);
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: var(--space-2);
  }

  .content {
    flex: 1;
    display: flex;
  }

  .works-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    width: 100%;

    @media (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
      gap: 1.5em;
    }
  }

  .grid-works {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: .5em;
    width: 100%;

    @media (max-width: 767px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.dark .zone-work-experience {
  outline-color: var(--color-white);
}

.works-cover {
  align-items: center;
  background-color: var(--color-white);
  border-radius: var(--border-radius-xl);
  outline: .2em solid var(--color-black);
  display: flex;
  justify-content: center;
  min-height: 100%;
  padding: .5em 1em;

  .works-cover-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .works-detail-header {
      h3 {
        color: var(--theme-color);
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: var(--space-1);
      }

      h4 {
        font-weight: 500;
      }
    }

    .works-detail-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex: 1;
      gap: var(--space-2);

      p {
        line-height: 1.5;
      }
    }

    .tech-list {
      display: flex;
      flex-wrap: wrap;
      gap: var(--space-2);
      list-style: none;
      margin-top: var(--space-2);
      padding: 0;

      li {
        background-color: var(--color-light);
        border-radius: var(--border-radius-xl);
        font-size: .9em;
        padding: var(--space-1) var(--space-2);
      }
    }
  }

  .works-cover-content.default-message {
    max-width: 500px;
    text-align: center;

    h3 {
      color: var(--theme-color);
      font-size: 1.7rem;
      font-weight: bold;
      line-height: var(--leading-tight);
      margin-bottom: var(--space-2);
    }

    p {
      color: var(--text-color-mute);
      line-height: 1.6;
    }
  }
}

.dark .works-cover {
  outline-color: var(--color-white);
  background-color: var(--color-dark);
}


.dark .tech-list {
  li {
    color: var(--color-black);
  }
}

.card-work {
  background-color: var(--color-black);
  border-radius: var(--border-radius-xl);
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-2) var(--space-4);
  transition: all var(--ease-in-out) var(--transition-fast);

  &:hover {
    outline: .2em solid var(--color-black);
    transform: translateY(-4px);
  }

  &.active {
    background-color: var(--color-light);
    color: var(--color-black);
    outline: .2em solid var(--color-black);
    transform: translateY(-4px);
  }

  header {
    h4 {
      color: var(--theme-color);
      font-size: 1.3rem;
      font-weight: 700;

      @media (max-width: 767px) {
        text-align: center;
      }
    }

    h5 {
      font-weight: 500;

      @media (max-width: 767px) {
        display: none;
      }
    }
  }

  time {
    font-size: 0.9rem;
    font-style: italic;
    text-align: right;

    @media (max-width: 767px) {
      display: none;
    }
  }
}

.dark .card-work {
  &:hover {
    outline-color: var(--color-white);
  }
}