.zone-intro {
  align-items: center;
  display: flex;
  gap: 3em;
  padding: 2em 0;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 90dvh;
}

.intro-section {
  display: flex;
  flex-direction: column;
  gap: 2em;

  @media (max-width: 767px) {
    padding: 0 1.5em;
  }

  @media (min-width: 768px) {
    margin: 0 auto;
    max-width: 720px;
  }

  .welcome-text {
    @media (min-width: 768px) {
      br {
        display: none;
      }
    }

    strong {
      font-size: 2.5rem;
      font-weight: 500;
      padding-left: 1em;
      white-space: nowrap;

      @media (min-width: 768px) {
        font-size: 3rem;
        margin-right: .3em;
      }
    }

    span {
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  .intro-content {
    figure {
      background-color: var(--color-white);
      border-radius: var(--radius-full);
      border: .4em solid var(--theme-color);
      float: right;
      height: 10em;
      margin: .5em;
      outline: .2em solid var(--color-black);
      overflow: hidden;
      width: 10em;

      @media (min-width: 768px) {
        float: left;
        height: 12em;
        margin: 1em 2em;
        width: 12em;
      }

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .description-text {
      font-size: 1.25rem;

      span {
        margin-left: 1em;
      }

      strong {
        font-size: 1.25rem;
        font-style: italic;
      }
    }
  }
}

.header-contact {
  background-color: var(--theme-color);
  border-radius: var(--radius-md);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-8);
  justify-content: center;
  outline: .2em solid var(--color-black);
  padding: 0 var(--space-8);

  .social-link {
    color: var(--color-white);
    cursor: pointer;
    padding: var(--space-2);
    transition: all var(--transition-normal) var(--ease-in-out);

    &:hover {
      background-color: var(--color-white);
      color: var(--theme-color);
      outline: .2em solid var(--color-black);
    }
  }

  .email-container {
    display: inline-block;
    position: relative;
  }
}

.dark {
  .intro-section {
    .intro-content {
      figure {
        outline-color: var(--color-white);
      }
    }
  }

  .header-contact {
    outline-color: var(--color-white);

    .social-link {
      &:hover {
        outline-color: var(--color-white);
      }
    }
  }
}