.zone-intro {
  min-height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.intro-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  .welcome-text {
    strong {
      font-size: 2rem;
      font-weight: bold;
      padding-left: 1rem;
      white-space: nowrap;
    }

    span {
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  .content-container {
    figure {
      background-color: var(--color-white);
      border-radius: var(--border-radius-full);
      border: .4em solid var(--theme-color);
      float: right;
      height: 10rem;
      margin: .5rem;
      outline: .2em solid var(--color-black);
      overflow: hidden;
      width: 10rem;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .description-text {
      margin-top: 1em;

      span {
        margin-left: 1rem;
      }

      strong {
        font-size: 1.25rem;
        font-style: italic;
      }
    }
  }

  @media (max-width: 768px) {}

  @media (min-width: 768px) {

    .welcome-text {
      strong {
        margin-right: .3rem;
      }

      br {
        display: none;
      }

      span {
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }

    .content-container {
      figure {
        float: left;
        margin: 1rem;
      }

      section {
        justify-content: end;
      }
    }
  }
}

.dark .intro-section {
  .content-container {
    figure {
      border: .4em solid var(--theme-color);
      outline: .2em solid var(--color-white);
    }
  }
}

.header-contact {
  background-color: var(--theme-color);
  border-radius: var(--border-radius-xl);
  outline: .2em solid var(--color-black);
  display: flex;
  flex-wrap: nowrap;
  gap: var(--space-8);
  justify-content: center;
  padding: 0 var(--space-8);

  .social-link {
    padding: var(--space-2);
    transition: all var(--transition-normal) var(--ease-in-out);
    cursor: pointer;
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      outline: .2em solid var(--color-black);
      color: var(--theme-color);
    }
  }

  .email-container {
    position: relative;
    display: inline-block;
  }
}

.dark .header-contact {
  outline-color: var(--color-white);

  .social-link {
    &:hover {
      outline-color: var(--color-white);
    }
  }
}