.navbar {
  align-items: center;
  background-color: var(--color-dark);
  border-bottom: .2em solid var(--theme-color);
  display: flex;
  justify-content: space-between;
  padding: .4em 1em;
  position: relative;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;

  .logo-link {
    color: var(--color-white);
    letter-spacing: 2px;
    line-height: 1.2;
    transition: all var(--transition-fast) var(--ease-in-out);

    h1 {
      font-size: 1.1rem;
      font-weight: bold;
    }

    h2 {
      font-size: .8rem;
      font-style: italic;
      text-transform: uppercase;
    }

    &:hover {
      transform: translateY(-2px);

      h1 {
        color: var(--theme-color);
      }
    }
  }
}