.sidebar-overlay {
  backdrop-filter: blur(.2em);
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  transition: all var(--transition-slow) var(--ease-in-out);
  visibility: hidden;
  width: 100%;
  z-index: 10;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.sidebar {
  background-color: var(--color-dark);
  border-left: .2em solid var(--theme-color);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 90vw;
  position: fixed;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: var(--size-md);
  z-index: 20;

  &.active {
    transform: translateX(0);
  }

  .sidebar-header {
    align-items: center;
    background-color: var(--color-dark-light);
    border-bottom: .2em solid var(--theme-color);
    display: flex;
    justify-content: space-between;
    padding: var(--space-2) var(--space-4);

    h2 {
      font-size: var(--text-xl);
      font-weight: bold;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .btn {
      background-color: var(--color-red);

      &:hover {
        background-color: var(--color-red-light);
      }
    }
  }

  .settings-section {
    padding: var(--space-4);
    
    .theme-label {
      font-size: var(--text-sm);
      font-weight: bold;
      letter-spacing: .1em;
      text-transform: uppercase;
    }

    .settings-language {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .settings-theme-mode {
      .theme-mode-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .toggle-switch {
          background-color: var(--color-dark);
          border-radius: var(--radius-xl);
          cursor: pointer;
          height: 2em;
          outline: .2em solid var(--color-white);
          position: relative;
          width: 4em;

          &.active .toggle-slider {
            transform: translateX(28px);
          }

          .toggle-slider {
            align-items: center;
            border-radius: 50%;
            display: flex;
            height: 1.5em;
            justify-content: center;
            left: .3em;
            position: absolute;
            top: .3em;
            transition: transform 0.3s ease;
            width: 1.5em;
          }
        }
      }
    }

    .settings-theme-color {
      .color-options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-2);
      }

      .color-option {
        aspect-ratio: 1;
        border-radius: var(--radius-xl);
        border: .2em solid transparent;
        cursor: pointer;
        position: relative;
        transition: all var(--transition-normal) var(--ease-in-out);
        width: 100%;

        &:hover {
          transform: scale(1.1);
          outline: .2em solid var(--color-white);
          z-index: 10;
        }

        &.selected {
          border-color: var(--color-white);
          box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 10px currentColor;
        }
      }
    }
  }
}