@import url("./components/zone-projects.css");
@import url("./components/zone-studies-courses.css");
@import url("./components/zone-work-experience.css");

.intro-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 720px;

  @media (max-width: 768px) {
    padding: 0 1.5rem;
  }

  .welcome-text {
    strong {
      font-size: 2rem;
      font-weight: bold;
      padding-left: 1rem;
      white-space: nowrap;
    }

    span {
      font-size: 1.5rem;
      white-space: nowrap;
    }
  }

  .content-container {
    figure {
      background-color: var(--color-white);
      border-radius: 50%;
      float: right;
      height: 10rem;
      margin: .5rem;
      outline: 4px solid var(--theme-color);
      overflow: hidden;
      width: 10rem;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .description-text {
      margin-top: 1em;
      span {
        margin-left: 1rem;
      }

      strong {
        font-size: 1.25rem;
        font-style: italic;
      }
    }
  }

  @media (max-width: 768px) {}

  @media (min-width: 768px) {

    .welcome-text {
      strong {
        margin-right: .3rem;
      }

      br {
        display: none;
      }

      span {
        font-size: 1.5rem;
        white-space: nowrap;
      }
    }

    .content-container {
      figure {
        float: left;
        margin: 1rem;
      }

      section {
        justify-content: end;
      }
    }
  }
}

.tech-stack-section {
  display: flex;
  max-width: 920px;
  padding: 0 1em;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    margin: 5em auto;
  }

  >div:nth-child(2) {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;

    .tech-item {
      text-align: center;
      
      .tech-name {
        font-size: 1.5rem;
        font-weight: bold;

        &.html {
          color: #e34c26;
        }

        &.css {
          color: #264de4;
        }

        &.javascript {
          color: #f0db4f;
        }
      }
    }
  }

  >div:nth-child(1) {
   strong {
    color: var(--theme-color);
   } 
  }
}

.tech-plus {
  font-size: 1.875rem;
  font-weight: bold;
}

.header-contact {
  display: flex;
  flex-wrap: nowrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 3em;

  .social-link {
    border-radius: .5rem;
    padding: .3rem;
    transition: background-color .3s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--theme-color);
    }
  }

  .email-container {
    position: relative;
    display: inline-block;
  }
}